body {
  background-image: url("https://media.giphy.com/media/IeCVaFnmXFpjq/giphy.gif");
  /*background-color: rgba(218, 0, 131, 0.3);*/
}

a {
  color: white !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

p.ganon {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  background-image: url("https://media.giphy.com/media/3oxHQe0qOEPR5I2cx2/giphy.gif");
  color: white;
}

div.page-text-container {
  background-color: rgba(218, 0, 131, 0.3);
  /*background-color: white !important;*/
  padding: 10px;
  color: white;
  border: 5px solid purple;
  margin: 20px;
}

.cool-link {
  -webkit-animation: flow 30s ease-in-out infinite;
          animation: flow 30s ease-in-out infinite;
  background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes flow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

